table, th, td {
    border: 1px solid #D8D269;
    border-collapse: collapse;
    background-color: #222222;
    color: white;
    width: 10%;
  margin-bottom: 10px
  }

 @media only screen and (max-width: 600px){

  table, th, td{
    width: 40%;
    height: 30%;
  }

 }

 @media only screen and (max-width: 400px){

  table, th, td{
    width: 40%;
    height: 30%;
  }

 }